{%  extends 'base.html' %}

{% block content %}
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">BoF(Bird Of Feather)</h1>
    </div>
</section>
<!--End Page Title-->
<section class="about-section">
    <div class="anim-icons full-width">
        <span class="icon icon-circle-blue wow fadeIn"></span>
        <span class="icon icon-dots wow fadeInleft"></span>
        <span class="icon icon-circle-1 wow zoomIn"></span>
    </div>
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>BoF란?</h2>
                        <div class="text">
                            <p>Birds of a Feather (이하 BoF)는 특정 주제에 대해 관심있는 사람들이 모여 자유롭게 토론하는 프로그램입니다.</p>
                            <p>BoF의 목표는 크게 두 가지 입니다.</p>
                            <p>첫째는 주제에 대한 자유로운 토론을 통해 큰 방향에서의 합의점을 도출하는 것이고, <br>둘째는 해당 주제에 대한 구성원간 지식 교류입니다. </p>
                        </div>
                        <br><br>
                        <h2>진행 방법</h2>
                        <div class="text">
                            <p>Moderator 희망자가 이야기하고 싶은 주제를 아래 버튼를 통해 제안합니다.</p>
                            <p>참가자들은 BoF 페이지에서 자신이 참여하고 싶은 BoF에 참여 신청합니다.</p>
                            <p>BoF 시간에 맞춰, 안내받은 링크를 통해 참가합니다. BoF는 게더타운으로 진행합니다.</p>
                            <p>Moderator에게는 Openinfra Community Day Korea 2021의 BoF 세션 Moderator 인증서와 소정의 기념품이 지급됩니다.</p>
                        </div>
                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one"><span class="btn-title">주제 제안하기 (마감)</span></a>
                         </div>
                        <br><br>
                        <h2>주제 예시</h2>
                        <div class="text">
                            <p>
                                Openinfra Community Day Korea 2021의 BoF 세션은 컴퓨팅 전반과 오픈소스 인프라스트럭처와 관련된 모든 주제에 대한 토론을 장려합니다.<br>매우 일반적이거나 매우 구체적인 주제 모두 환영입니다. 주제 예시는 아래와 같습니다.
                            </p>
                            <p>
                                - Cloud Computing<br>
                                - Data Center<br>
                                - Open Source<br>
                                - Open Stack<br>
                                - Docker<br>
                                - Kubernetes<br>
                                - Network Storage System<br>
                                - Ceph<br>
                                - Fault Tolerant System<br>
                                - Open Compute Project<br>
                                - PaaS + IaaS<br>
                                - Low Latency Replication<br>
                                - ARM과 RISC-V가 10년 후 데이터센터를 지배할 수 있을까?<br>
                                - Metaverse와 Cloud Computing<br>
                                 - 인프라 best practice / reference<br>
                                - 오픈스택 최적구성안 <br>
                                - 오픈스택 장애 경험<br>
                                - 오픈스택을 다루는 부서의 신규 입사자 온보딩 방법<br>
                                - 어떻게 하면 OpenStack을 국내에서 잘 활용할 수 있을까?<br>
                                - 그 외
                            </p>
                        </div>
                        <h2>성공적인 BoF를 위한 주의 사항</h2>
                        <div class="text">
                            <p>1. BoF는 특정 주제에 대한 큰 합의점을 도출하는 토론입니다. 특정 제품이나 기술의 홍보는 적합하지 않습니다. </p>
                            <p>2. BoF는 자유로운 토론을 목적으로 하고 있습니다. 강의와 같은 단방향의 발표보다는 양방향의 수평적 소통을 지향해주세요.</p>
                            <p>3. 세션의 크기가 지나치게 커질 경우 모든 청중들의 발언이 제한될 수 있습니다. 적절한 수의 참가자 수를 유지하는 것을 권장드립니다.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}