{%  extends 'base.html' %}

{% block content %}
<!--Page Title-->
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">경품 이벤트</h1>
    </div>
</section>
<!--End Page Title-->
<section class="about-section">
    <div class="anim-icons full-width">
        <span class="icon icon-circle-blue wow fadeIn"></span>
        <span class="icon icon-dots wow fadeInleft"></span>
        <span class="icon icon-circle-1 wow zoomIn"></span>
    </div>
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>다양한 프로그램에 참여해보세요</h2>
                        <div class="text">
                            <p>컨퍼런스 기간동안 진행되는 다양한 프로그램에 참여해보세요</p>
                            <p>참여하는 것만으로도 푸짐한 선물을 드립니다. 선물은 아래 항목 중 랜덤으로 선택되어 보내드립니다.</p>
                            <p>( 3일동안 중복 참여 가능합니다. )</p>
                            <p>
                                * 네이버 클라우드 립스탑백 (네이버 클라우드 후원)<br>
                                * 치킨 / 피자 기프티콘 <br>
                                * 샤오미 전동 에어펌프 (Microsoft 후원) <br>
                                * 스타벅스 기프티콘 1만원권
                            </p>

                        </div>
                        <br><br>
                        <h2>후원사의 밤 / 발표자 QA 참여만 해도 선물을 드립니다.</h2>
                        <div class="text">
                            <p>후원사의 밤 / 발표자 QA에 참여하여 출석체크만 해도 선물을 드립니다.</p>
                            <p>
                                게더타운에 입장하여, 출석체크 폼으로 출석체크를 해주세요<br>
                                모든 분들에게 선물을 드립니다. 상품은 랜덤으로 발송됩니다.<br>
                            </p>
                        </div>
                        <br><br>
                        <h2>12월 9일, 마지막날 대망의 경품 추첨</h2>
                        <div class="text">
                            <p>OpenInfra Community Days Korea 2021의 마지막날 밤 9시 30분!</p>
                            <p>
                                모든 참가자 대상으로 어마어마한 경품 추첨을 진행합니다. 많이 참여해주세요 <br>
                                * 1등 : 아이패드 미니 1대 <br>
                                * 2등 : 키보드 레오폴드 FC750R PD 화이트 민트 3개 <br>
                                * 3등 : 삼성전자 갤럭시버즈2 5개 <br>
                                * 4등 : 샤오미 미 밴드6 10개 <br>
                                * 5등 : 스타벅스 기프티콘 1만원 20개 <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}