{% extends 'base.html' %}
{% load static %}

{%  block content %}
    <section class="lobby-title-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>OpenInfra & Cloud Native Days Korea 2022</h2><br><br>
                <h2>Conference Lobby</h2>
                <h3>행사에 필요한 정보를 빠르게 찾아보세요</h3>
            </div>
        </div>
    </section>
    <!--End Features Section -->
    <section class="faq-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <span class="title">Something</span>
                <h2>이런 것은 어떠세요?</h2>
            </div>
            <div class="row">
                <!-- Feature Block -->

                <!-- Feature Block -->
                <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-diamond-1"></span></div>
                        <h4><a href="/program/sponsornight">오픈스택 업스트림 기여 실습 파티</a></h4>
                        <div class="text">일시 : 2022년 11월 12일(토) 14시</div>
                        <div class="link-box"><a href="https://www.meetup.com/openstack-and-open-infrastructure-korea/events/289432157/" class="theme-btn">Read More</a></div>
                    </div>
                </div>

                <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-play-button-3"></span></div>
                        <h4><a href="/virtualbooth">코엑스 비상 메뉴얼</a></h4>
                        <div class="text">코엑스의 비상 메뉴얼을 확인하고 비상시 함께 해주세요</div>
                        <div class="link-box"><a href="/static/files/coex-emergency.pdf" class="theme-btn">Read More</a></div>
                    </div>
                </div>
                <div class="feature-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-gift"></span></div>
                        <h4><a href="/event">경품 추첨</a></h4>
                        <div class="text">17시 40분에 103호에서 경품 추첨을 합니다</div>
                        <div class="link-box"><a href="/event" class="theme-btn">Read More</a></div>
                    </div>
                </div>
            </div>

    <!-- Speakers Section -->
    <section class="speakers-section-two">
        <div class="anim-icons">
            <span class="icon icon-circle-4 wow zoomIn"></span>
            <span class="icon icon-circle-3 wow zoomIn"></span>
        </div>

        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Online Session</span>
                <h2>온라인으로만 공개하는 세션</h2>
            </div>

            <!-- Keynote Block -->
            <div class="row">
                {% for k in online %}
                <div class="speaker-block-two col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                    <div class="inner-box">
                        <div class="info-box">
                            <h4 class="name"><a href="/session/{{ k.id }}">{{ k.title }}</a></h4>
                            <!--<span class="designation">Event Manager</span>-->
                        </div>
                        <div class="image-box">
                            {% if k.speaker.profile_img %}
                            <figure class="image"><img src="{{ k.speaker.profile_img.url }}" alt=""></figure>
                            {% else %}
                            <figure class="image"><img src="{% static 'images/empty_profile.png' %}" alt=""></figure>
                            {% endif %}
                            <h4>{{ k.speaker.name }}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="speakers-section-two">

        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Online Promotion</span>
                <h2>온라인 홍보관</h2>
            </div>

            <!-- Keynote Block -->
            <div class="row">
                <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                    <div class="image-box text-center">
                        <figure class="image-box"><a href="/virtualbooth/2" target="_blank"><img src="/media/images/sponsor/sponsors-d04.png"></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title">
                <span class="title">FAQ'S</span>
                <h2>General Questions</h2>
            </div>

            <div class="row clearfix">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!--Accordian Box-->
                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block wow fadeInUp">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>온라인 세션은 언제까지 공개되나요?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">온라인 세션은 11월 4일까지 임시 공개 후, 모든 세션 공개일에 같이 다시 볼 수 있습니다.</div>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block wow fadeInUp">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>점심 식사를 제공해주나요?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">보다 안전한 행사 운영을 점심 식사를 제공하지 않습니다.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!--Accordian Box-->
                        <ul class="accordion-box">
                            <!--Block-->
                            <li class="accordion block active-block wow fadeInUp">
                                <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>온라인으로 생중계를 해주나요?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">온라인으로 생중계는 하지 않습니다. 다만, 행사 후 모든 세션은 녹화되어 공개됩니다. <br>또한 온라인으로만 발표하는 세션도 있어, 홈페이지를 통해 보실 수 있습니다.</div>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block active-block wow fadeInUp">
                                <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-angle-down"></span> </div>발표 다시보기가 가능한가요?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <div class="text">컨퍼런스 이 후 홈페이지를 통해 다시보기를 지원합니다. 단, 다시보기 지원까지 1개월 이상 소요될 수 있습니다.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section id="venue" class="about-section">
        <div class="auto-container">
            <div class="sec-title">
                <span class="title">행사 장소 (Venue)</span>
                <h2>서울 코엑스 그랜드 볼룸 (Seoul, COEX Grandballroom)</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4445.040901712181!2d127.05497241494857!3d37.513394566314396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca46af653508b%3A0x77dcffee7049376b!2z7L2U7JeR7IqkIOq3uOuenOuTnOuzvOujuA!5e0!3m2!1sen!2skr!4v1662886185173!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section class="gallery-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Sponsors</span>
                <h2>Diamond</h2>
            </div>

            <div class="row">
                {% for d in diamond %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Sapphire</h2>
            </div>
            <div class="row">
                {% for d in sapphire %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
             <div class="sec-title text-center">
                <h2>Gold</h2>
            </div>
            <div class="row">
                {% for d in gold %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
             <div class="sec-title text-center">
                <h2>Media</h2>
            </div>
            <div class="row">
                {% for d in media %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}
