{%  extends 'base.html' %}

{% block content %}
<section class="coming-soon">
    <div class="anim-icons full-width">
        <span class="icon icon-circle-blue wow fadeIn"></span>
        <span class="icon icon-dots wow fadeInleft"></span>
        <span class="icon icon-line-1 wow zoomIn"></span>
        <span class="icon icon-circle-1 wow zoomIn"></span>
    </div>

    <div class="auto-container">
        <div class="content">
            <h1>Invalid One time login Token</h1>
            <div class="text">유효하지 않거나, 만료된 토큰입니다.</div>
        </div>
    </div>
</section>
{% endblock %}