{%  extends 'base.html' %}

{% block content %}
<section class="coming-soon">
    <div class="anim-icons full-width">
        <span class="icon icon-circle-blue wow fadeIn"></span>
        <span class="icon icon-dots wow fadeInleft"></span>
        <span class="icon icon-line-1 wow zoomIn"></span>
        <span class="icon icon-circle-1 wow zoomIn"></span>
    </div>

    <div class="auto-container">
        <div class="content">
            <h1>Please check your email</h1>
            <div class="text">{{ email }} 로 일회용 로그인 주소를 발송했습니다. 이메일을 확인해주세요.</div>
        </div>
    </div>
</section>
{% endblock %}